.rebar3
_*
.eunit
*.o
*.beam
*.plt
*.swp
*.swo
.erlang.cookie
ebin
log
erl_crash.dump
.rebar
logs
_build
.idea
*.iml
rebar3.crashdump
*~
*/**/*.beam
erlang_ls.config
test/eldap_client_basic_SUITE_data/certs/*
src/ELDAPClientV3.erl
include/ELDAPClientV3.hrl
